<html>

<head>
	<title>TRIP MANAGEMENT</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145167889-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-145167889-3');
	</script>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-NSTKFJW');</script>
	<!-- End Google Tag Manager -->

	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
	<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<style type="text/css">
		body,
		html {
			height: 100%;
		}

		.bg {
			/* The image used */
			/* background-image: url("../images/background/trip.jpg"); */
			background-color: rgb(252, 186, 3);
			/* Full height */
			height: 100%;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

</head>


<body class="bg">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSTKFJW" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<script language="JavaScript">
		function showInput() {
			document.getElementById('display').innerHTML =
				document.getElementById("user_input").value;
		}
	</script>


	<div style=";padding-top: 50px; text-align: center;">
		<div class="alert alert-info" role="alert" style="height: 60px;font-size: 24px">

			<a href="index.html">
				<button class="btn btn-danger" style="float: left;" type="button">BACK</button>
			</a>
			TRANSPORT
		</div>
	</div>
	<div class="row" style="margin: 20px 10px 20px 10px ">
		<div class="col-md-12" style=" padding-left: 30px;padding-top: 50px;padding-bottom: 50px">

			<form>
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
						<button class="btn btn-dark" style="width: 200px" type="button">DESTINATION</button>
					</div>
					<input aria-describedby="addon-wrapping" aria-label="DESTINATION" class="form-control"
						placeholder="PLEASE ENTER THE DESTINATION" name="message" id="user_input" type="text">
				</div>
			</form>

			<br />

			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<button class="btn btn-dark" style="width: 200px" type="button">DEPARTURE DATE</button>
				</div>
				<input aria-describedby="addon-wrapping" aria-label="DEPARTURE DATE" class="form-control"
					placeholder="PLEASE ENTER THE DEPARTURE DATE" type="date">
			</div>
			<br />

			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<button class="btn btn-dark" style="width: 200px" type="button">ARRIVAL DATE</button>
				</div>
				<input aria-describedby="addon-wrapping" aria-label="ARRIVAL DATE" class="form-control"
					placeholder="PLEASE ENTER THE ARRIVAL DATE" type="date">
			</div>
			<br />


			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<button class="btn btn-dark" style="width: 200px" type="button">TRANSPORT</button>
				</div>
				<div class="dropdown"> &nbsp;
					<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
						data-toggle="dropdown" id="dropdownMenuButton" type="button">
						SELECT MODE OF TRANSPORT
					</button>
					<div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
						<a class="dropdown-item" href="#">BUS &nbsp; &nbsp;&nbsp;&nbsp;<img height="50px"
								src="../images/icons/bus.png"></a>
						<a class="dropdown-item" href="#">TRAIN &nbsp;&nbsp; <img height="50px"
								src="../images/icons/train.png"></a>
						<a class="dropdown-item" href="#">FLIGHT &nbsp; <img height="45px"
								src="../images/icons/flight.png"></a>
					</div>
				</div>
			</div>
			<br />
			<br />
			<hr />
			<br />

			<div class="input-group flex-nowrap">
				<div class="input-group-prepend" style="background-color: white; width: 100%; border-radius: 0.25rem">
					<button class="btn btn-success" style="width: 200px" type="button">PAYMENT MODE</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="form-check form-check-inline">
						<input class="form-check-input" id="inlineRadio1" name="inlineRadioOptions" type="radio"
							value="option1">
						<label class="form-check-label" for="inlineRadio1">CASH</label>&nbsp;&nbsp;
						<img height="50px" src="../images/icons/cash.png">
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="form-check form-check-inline">
						<input class="form-check-input" id="inlineRadio2" name="inlineRadioOptions" type="radio"
							value="option2">
						<label class="form-check-label" for="inlineRadio2">CARD </label>&nbsp;&nbsp;
						<img height="50px" src="../images/icons/card.png">
					</div>
				</div>

			</div>
			<br />


			<!-- Button trigger modal -->
			<div class="input-group flex-nowrap">
				<div class="input-group-prepend">
					<a>
						<button class="btn btn-success" data-toggle="modal" onclick="showInput()"
							data-target="#exampleModal" style="width: 200px" type="button">MAKE RESERVATION</button>
					</a>
				</div>
			</div>


			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Your Final Receipt</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<strong>Your Destination:</strong> <span id='display'></span>
							<hr />
							Taking other input from the above form and showing its display here is left as an exercise.
							<br />
							Feel free to submit a PR if you could figure it out.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="padding: 50px">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ut nibh ac pretium. Donec vel pulvinar
		nibh.
		Nam rhoncus massa et orci semper maximus. Morbi ultricies tincidunt orci. Ut congue sapien a ex vulputate, sed
		aliquet
		odio faucibus. Fusce blandit metus eget justo faucibus, a rhoncus est feugiat. Integer vel purus eget urna
		aliquet
		suscipit sed id ligula. Fusce ac purus vitae sem egestas lobortis. Nulla condimentum nec mi eu vestibulum. Etiam
		augue
		turpis, suscipit eget ullamcorper ut, ullamcorper vitae ex. Curabitur orci odio, blandit non viverra et,
		faucibus vitae
		arcu. Proin sollicitudin augue et blandit varius. Etiam quis lectus fringilla, bibendum ex lacinia, facilisis
		turpis.
		<br /><br />

		Curabitur pharetra placerat felis, in cursus felis auctor in. Nullam auctor arcu at turpis accumsan, vitae
		facilisis
		nibh suscipit. Morbi maximus ipsum magna, vitae pellentesque tortor interdum a. Nullam eleifend, lectus non
		cursus
		ultricies, justo diam congue odio, id porttitor tellus justo at felis. Morbi pulvinar est id magna elementum
		placerat.
		Nunc dictum felis arcu, nec pretium libero auctor eget. Curabitur sodales vulputate porta. Praesent lacinia eu
		ante
		molestie rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut
		odio
		orci, auctor a magna eu, venenatis efficitur sem. Vivamus sed arcu nec ante condimentum maximus in interdum
		odio. Nam
		laoreet lacinia nibh, eu dictum dolor. Cras gravida eros dui, aliquam blandit orci aliquam vel. Aliquam erat
		volutpat.
		Integer ligula orci, facilisis a lacus sed, aliquet placerat enim. Vestibulum gravida eleifend diam fermentum
		mattis.
		<br /><br />


		Cras convallis euismod rhoncus. Ut ullamcorper magna lacus. In vitae ultrices nibh. Curabitur efficitur dictum
		euismod.
		Mauris aliquam, augue nec fermentum blandit, velit purus imperdiet neque, ut commodo est tellus sit amet odio.
		Morbi at
		tempus justo, ac egestas diam. Vestibulum molestie purus non ligula blandit lobortis. Pellentesque at erat eu
		magna
		viverra porta a sit amet nulla. In mollis vel dui eu porta.
		<br /><br />

		Praesent auctor dui vel dictum porta. Cras leo justo, venenatis ut placerat sed, egestas a ante. Vivamus ut
		luctus
		justo. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Duis justo lorem, bibendum non
		vulputate non,
		molestie nec leo. In hac habitasse platea dictumst. Vivamus ultricies sit amet nibh sit amet tincidunt. Aliquam
		tincidunt diam ac sollicitudin dapibus. Curabitur malesuada massa ac mi sagittis eleifend. Nulla maximus nisl ut
		nulla
		ultrices dapibus. Phasellus finibus faucibus egestas. Ut in commodo nulla. Suspendisse ut ultricies lorem.
		<br /><br />

		Duis sed placerat risus. Integer eget vestibulum dui, at condimentum erat. Quisque maximus quis risus sit amet
		vulputate. Nullam pharetra nisl vestibulum mauris sodales, pharetra ultricies urna aliquet. Ut ut semper purus,
		a dictum
		velit. Aenean interdum at velit sed sollicitudin. Aenean tortor turpis, blandit at leo a, tincidunt ullamcorper
		velit.
		Maecenas consectetur metus urna, a tempus elit accumsan quis. Sed pretium nulla eu pretium lacinia. Donec
		posuere risus
		et lobortis sodales. Vivamus mollis feugiat nunc eu mollis. Vivamus lobortis pretium urna at maximus. Duis
		sodales
		sapien eu feugiat rutrum.
		<br /><br />

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ut nibh ac pretium. Donec vel pulvinar
		nibh.
		Nam rhoncus massa et orci semper maximus. Morbi ultricies tincidunt orci. Ut congue sapien a ex vulputate, sed
		aliquet
		odio faucibus. Fusce blandit metus eget justo faucibus, a rhoncus est feugiat. Integer vel purus eget urna
		aliquet
		suscipit sed id ligula. Fusce ac purus vitae sem egestas lobortis. Nulla condimentum nec mi eu vestibulum. Etiam
		augue
		turpis, suscipit eget ullamcorper ut, ullamcorper vitae ex. Curabitur orci odio, blandit non viverra et,
		faucibus vitae
		arcu. Proin sollicitudin augue et blandit varius. Etiam quis lectus fringilla, bibendum ex lacinia, facilisis
		turpis.
		<br /><br />

		Curabitur pharetra placerat felis, in cursus felis auctor in. Nullam auctor arcu at turpis accumsan, vitae
		facilisis
		nibh suscipit. Morbi maximus ipsum magna, vitae pellentesque tortor interdum a. Nullam eleifend, lectus non
		cursus
		ultricies, justo diam congue odio, id porttitor tellus justo at felis. Morbi pulvinar est id magna elementum
		placerat.
		Nunc dictum felis arcu, nec pretium libero auctor eget. Curabitur sodales vulputate porta. Praesent lacinia eu
		ante
		molestie rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut
		odio
		orci, auctor a magna eu, venenatis efficitur sem. Vivamus sed arcu nec ante condimentum maximus in interdum
		odio. Nam
		laoreet lacinia nibh, eu dictum dolor. Cras gravida eros dui, aliquam blandit orci aliquam vel. Aliquam erat
		volutpat.
		Integer ligula orci, facilisis a lacus sed, aliquet placerat enim. Vestibulum gravida eleifend diam fermentum
		mattis.
		<br /><br />


		Cras convallis euismod rhoncus. Ut ullamcorper magna lacus. In vitae ultrices nibh. Curabitur efficitur dictum
		euismod.
		Mauris aliquam, augue nec fermentum blandit, velit purus imperdiet neque, ut commodo est tellus sit amet odio.
		Morbi at
		tempus justo, ac egestas diam. Vestibulum molestie purus non ligula blandit lobortis. Pellentesque at erat eu
		magna
		viverra porta a sit amet nulla. In mollis vel dui eu porta.
		<br /><br />

		Praesent auctor dui vel dictum porta. Cras leo justo, venenatis ut placerat sed, egestas a ante. Vivamus ut
		luctus
		justo. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Duis justo lorem, bibendum non
		vulputate non,
		molestie nec leo. In hac habitasse platea dictumst. Vivamus ultricies sit amet nibh sit amet tincidunt. Aliquam
		tincidunt diam ac sollicitudin dapibus. Curabitur malesuada massa ac mi sagittis eleifend. Nulla maximus nisl ut
		nulla
		ultrices dapibus. Phasellus finibus faucibus egestas. Ut in commodo nulla. Suspendisse ut ultricies lorem.
		<br /><br />

		Duis sed placerat risus. Integer eget vestibulum dui, at condimentum erat. Quisque maximus quis risus sit amet
		vulputate. Nullam pharetra nisl vestibulum mauris sodales, pharetra ultricies urna aliquet. Ut ut semper purus,
		a dictum
		velit. Aenean interdum at velit sed sollicitudin. Aenean tortor turpis, blandit at leo a, tincidunt ullamcorper
		velit.
		Maecenas consectetur metus urna, a tempus elit accumsan quis. Sed pretium nulla eu pretium lacinia. Donec
		posuere risus
		et lobortis sodales. Vivamus mollis feugiat nunc eu mollis. Vivamus lobortis pretium urna at maximus. Duis
		sodales
		sapien eu feugiat rutrum.
		<br /><br />

	</div>

</body>


</html>